.body{
    height: 5000px;
}
.header img {
    height: 20rem;
    padding-left: 40%;
    /* padding-top: 5%; */
    /* background-color: #2ed573; */
}

.header {
    background-color: #1abc9c;
}

.portfolio1 {
    padding-left: 37%;
    font-size: 4rem;
    color: #ffffff;
}

.ion1 {
    padding-left: 47%;
    font-size: 3rem;
    color: #ffffff;
}

.portfolio2 {
    padding-left: 37%;
    color: #ffffff;
}

.nav {
    background-color: #2f3542;
}

.img1 {
    height: 20rem;
}

.portfolio3 {
    padding-left: 40%;
    font-size: 4.5rem;
}

.ion2 {
    padding-left: 47%;
    font-size: 3rem;
}

.p1 {
    font-size: 1.5rem;
     color: #ffffff;
}

.ion3 {
    
    font-size: 3rem;
     color: #ffffff;
}
.portfolio4{
    font-size: 4rem;
    color: #ffffff;
}
.aboutpage{
    background-color: #1abc9c;
}
.download{
    text-align: center;
   
}
.pagesection{
    text-align: center;
    padding-top: 5rem;
}
.portfolio5{
    font-size: 3rem;
}
.ion4{
     font-size: 3rem;
}
.ion5{
    font-size: 3rem;
}
.footerone{
  background-color: #2c3e50;  
  padding-top: 5rem;
}
.footerone .h4{
    color: #ffffff;
}
.p2{
    color: #ffffff;
    font-size: 1rem;
}
.portfolio6{
    color: #ffffff;
    font-size: 2rem;
}
.lastpage{
    background-color: #2f3542;
    text-align: center;
    height: 5vh;
}
.last{
    color: #ffffff;
    font-size: 1rem;
    padding-top: 0.5%;
}
.imageportfolio{
padding: 6rem;
}
.first{
    color: #ffffff;
}